{% extends '::base.html.twig' %}

{% block title -%}{% trans %}pet.pet{% endtrans %}{% endblock %}

{% block body -%}
    <h1>{% trans %}pet.pets{% endtrans %}</h1>

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Birthdate{% endtrans %}</th>
                <th>{% trans %}pettype.pettype{% endtrans %}</th>
                <th>{% trans %}Owner{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('pet_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.birthdate %}{{ entity.birthdate|date('d.m.Y') }}{% endif %}</td>
                <td>{% if entity.petType %}{{ entity.petType.name }}{% endif %}</td>
                <td>{% if entity.owner %}{{ entity.owner.firstName }} {{ entity.owner.lastName }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pet_show', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            {% trans %}show{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('pet_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            {% trans %}edit{% endtrans %}
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

        <ul>
        <li>
            <a href="{{ path('pet_new') }}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                {% trans %}pet.pet{% endtrans %} {% trans %}create.new{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
