{% extends '::base.html.twig' %}

{% block title -%}{% trans %}Owner{% endtrans %}{% endblock %}

{% block body -%}
    <h1>{% trans %}Owner{% endtrans %}</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}First name{% endtrans %}</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Last name{% endtrans %}</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Address{% endtrans %}</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>{% trans %}City{% endtrans %}</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>{% trans %}Telephone{% endtrans %}</th>
                <td>{{ entity.telephone }}</td>
            </tr>   
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('owner') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> {% trans %}back.to.list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('owner_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{% trans %}Owner{% endtrans %}
            {% trans %}edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
