{% extends '::base.html.twig' %}

{% block title -%}{% trans %}pettype.pettype{% endtrans %}{% endblock %}

{% block body -%}
    <h1>{% trans %}pettype.pettype{% endtrans %}</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pettype') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> {% trans %}back.to.list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('pettype_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans %}edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
